<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ (isEditing ? 'taskForm.editTitle' : 'taskForm.newTitle') | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ghost" (click)="cancel()">{{ 'common.cancel' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-input [label]="'taskForm.title' | translate" labelPlacement="stacked" formControlName="title"
                 [placeholder]="'taskForm.titlePlaceholder' | translate" />
    </ion-item>
    @if (form.controls.title.touched && form.controls.title.hasError('required')) {
      <ion-note color="danger">{{ 'taskForm.errors.titleRequired' | translate }}</ion-note>
    }
    @if (form.controls.title.hasError('maxlength')) {
      <ion-note color="danger">{{ 'taskForm.errors.titleMax' | translate }}</ion-note>
    }

    <ion-item>
      <ion-input [label]="'taskForm.description' | translate" labelPlacement="stacked"
                 formControlName="description" [placeholder]="'taskForm.descriptionPlaceholder' | translate" />
    </ion-item>
    @if (form.controls.description.hasError('maxlength')) {
      <ion-note color="danger">{{ 'taskForm.errors.descriptionMax' | translate }}</ion-note>
    }

    <ion-item>
      <ion-select [label]="'taskForm.priority' | translate" labelPlacement="stacked" formControlName="priority">
        @for (p of priorities; track p) {
          <ion-select-option [value]="p">{{ priorityKey(p) | translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select [label]="'taskForm.category' | translate" labelPlacement="stacked" formControlName="categoryId"
                  [placeholder]="'common.noCategory' | translate">
        <ion-select-option [value]="''">{{ 'common.noCategory' | translate }}</ion-select-option>
        @for (category of categories(); track category.id) {
          <ion-select-option [value]="category.id">{{ category.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input [label]="'taskForm.day' | translate" labelPlacement="stacked" type="date" formControlName="scheduledDate" />
    </ion-item>

    <div class="times">
      <ion-item>
        <ion-label>{{ 'taskForm.start' | translate }}</ion-label>
        <ion-datetime-button slot="end" datetime="startTimePicker" />
      </ion-item>
      <ion-item>
        <ion-label>{{ 'taskForm.end' | translate }}</ion-label>
        <ion-datetime-button slot="end" datetime="endTimePicker" />
      </ion-item>
    </div>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="startTimePicker"
          presentation="time"
          [hourCycle]="hourCycle()"
          [value]="timeValue('startTime')"
          [showDefaultButtons]="true"
          [doneText]="'common.save' | translate"
          [cancelText]="'common.cancel' | translate"
          (ionChange)="setTime('startTime', $any($event).detail.value)" />
      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="endTimePicker"
          presentation="time"
          [hourCycle]="hourCycle()"
          [value]="timeValue('endTime')"
          [showDefaultButtons]="true"
          [doneText]="'common.save' | translate"
          [cancelText]="'common.cancel' | translate"
          (ionChange)="setTime('endTime', $any($event).detail.value)" />
      </ng-template>
    </ion-modal>
    @if (form.hasError('timeRange')) {
      <ion-note color="danger">{{ 'taskForm.errors.timeRange' | translate }}</ion-note>
    }

    <ion-button type="submit" expand="block" class="submit" [disabled]="form.invalid">
      {{ (isEditing ? 'common.save' : 'taskForm.submitNew') | translate }}
    </ion-button>
  </form>
</ion-content>
